<%= render 'layouts/header'%>

<h1>Proveedores</h1>
<div class="card">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Rut</th>
        <th>Servicio</th>
        <th></th>
        <th colspan="2">Opciones</th>
      </tr>
    </thead>

    <tbody>
      <% @providers.each do |provider| %>
        <tr>
          <td><%= provider.name %></td>
          <td><%= provider.rut %></td>
          <td><%= provider.service.name %></td>
          <td><%= link_to 'Ver', provider %></td>
          <td><%= link_to 'Editar', edit_provider_path(provider) %></td>
          <td><%= link_to 'Eliminar', provider, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Nuevo Proveedor', new_provider_path %>
