<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%# if session[:admin] || session[:super] %>
  <!--<div class="field">
    <%#= form.label :user_name %>>
    <%#= form.select :user_id, options_from_collection_for_select(@users, "id", "name")%>
  </div>-->
<%# else %>
<%= form.hidden_field :user_id, :value => current_user.id %>
<%#end%>

  <div class="field form-group ">
    <%= form.label 'Proveedor' %>
    <% unless @order_new && !@order_new.nil? %>
    <%= form.select(:provider_id, options_for_select([[@provider.name, @provider.id]]), {class: 'form-control'})%>
    <% else %>
    <%= form.collection_select :provider_id, @providers , "id", "name", {class: 'form-control'}, {:onchange => "filter_items(); return false;"}%>
    <% end %>
    <% unless @order_new && !@order_new.nil? %>
    <%= form.label 'Estado' %>
    <%= form.select :status_id, options_from_collection_for_select(@status, "id", "status"), class: 'form-control'%>
    <% else%>
    <%= form.hidden_field :status_id, :value => 3 %>
    <% end %>
    <%= form.label 'Tipo De pago' %>
    <%= form.select :payment_id, options_from_collection_for_select(@payments, "id", "method"), class: 'form-control'%>
  </div>

<div class="table table-striped">
  <p> Detalle Orden </p>
  <table id="table">
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        Descripcion 
      </th>
      <th>
        Valor unitario 
      </th>
      <th>
        cantidad 
      </th>
    </tr>
  </thead>
  <tbody id="body_table">
    <%= render :partial => "items", :locals => {:items => @items } %>
  </tbody>
</table>
</div>


  <div class="actions">
    <%= form.submit class: 'btn btn-primary form-control' %>
  </div>
<% end %>
