<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% if is_admin? || is_super? %>
  <div class="field">
    <%= form.label :user_name %>>
    <%= form.select :user_id, options_from_collection_for_select(@users, "id", "name")%>
  </div>
<% else %>
<%= form.hidden_field :user_id, :value => current_user.id %>
<%end%>

  <div class="field">
    <%= form.label 'Proveedor' %>
    <%= form.collection_select :provider_id, @providers , "id", "name"%>
  </div>

  <div class="field">
    <%= form.label 'Estado' %>
    <%= form.select :status_id, options_from_collection_for_select(@status, "id", "status")%>
  </div>


  <div class="field">
    <%= form.label :order_date %>
    <%= form.date_select :order_date %>
  </div>

  <div class="field">
    <%= form.label :estimated_delivery_date %>
    <%= form.date_select :estimated_delivery_date %>
  </div>

  <div class="field">
    <%= form.label :delivery_date %>
    <%= form.date_select :delivery_date %>
  </div>

<div class="table col">
  <p> Detalle Orden </p>
  <table>
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        Id
      </th>
      <th>
        Descripcion 
      </th>
      <th>
       Stock
      </th>
      <th>
        Valor unitario 
      </th>
    </tr>
  </thead>
  <tbody>
    <%  @items.each do |item|%>
    <tr>
      <td><%= check_box_tag "items[]", item.id %></td>
      <td><%= item.id %> </td>
      <td><%= item.nombre %> </td>
      <td>$<%=  item.precio %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
