  <div style="position: absolute; right: 10px;">
    <p style="font-size:0.8rem">Fecha <%= Date.today.to_s %></p>
    <p style="font-size:0.8rem">Hora <%= Time.new.strftime('%H:%M') %></p>
  </div>


  <div id="top-pdf" >
    <h5>Historial de Orden</h5>
      <p style="margin:0px;">N° <%= @order.id %></p>
  </div>

<br>
<table id="datos">
    <tr class="title">
        <td colspan="6">Datos Proveedor</td>
    </tr>
    <tr>
        <td>Razon Social</td>
        <td><em><%= @order.provider.name%></em></td>
        <td>Rut</td>
        <td colspan="3"><em><%= @order.provider.rut%>- <%= @order.provider.rut_dv%></em></td>
    </tr>
    <tr>
        <td>Direccion</td>
        <td><em><%= @order.provider.address.calle%> N°<%= @order.provider.address.numero%></em></td>
        <td>Comuna</td>
        <td><em><%= @order.provider.address.comuna%></em></td>
        <td>Region</td>
        <td><em><%= @order.provider.address.region%></em></td>
    </tr>
    <tr class="title">
        <td colspan="6">Datos Solicitud</td>
    </tr>
    <tr>
        <td>Solicitado por</td>
        <td><em><%= @order.user.name%> <%= @order.user.last_name%></em></td>
        <td>Sucursal</td>
        <td><em><%= @order.store.name %></em></td>
        <td>Fecha Solicitud</td>
        <td><%= @order.created_at.year %>-<%= @order.created_at.month %>-<%= @order.created_at.day %> <%= @order.created_at.hour %>:<%= @order.created_at.min %></td>
    </tr>
    <tr class="title">
        <td colspan="6">Datos Orden</td>
    </tr>
    <tr>
        <td>Estado</td>
        <td><em><%= @order.status.status%></em></td>
        <td>Pago</td>
        <td colspan="3"><em><%= @order.payment.method%></em></td>
    </tr>
</table>

<br>

<table id="articulos">
          <thead>
            <tr colspan="3"> <th> Historial </th></tr>
            <tr>
              <th>
                usuario responsable
              </th>
              <th>
                Estado
              </th>
              <th>
                Fecha
              </th>
            </tr>
          </thead>
          <tbody>
              <% @order.order_histories.each do |history|%>
              <% user= User.find(history["user_id"]) %>
              <% status= Status.find(history["status_id"]).status %>
              <% fecha= history["created_at"] %>
            <tr>
              <td><%=user.name %> <%=user.last_name %></td>
              <td><%= status %> </td>
              <td><%= fecha.year %>-<%= fecha.month %>-<%= fecha.day %> <%= fecha.hour %>:<%= fecha.min %></td>
            </tr>
            <% end %>
          </tbody>
        </table>