<%= render 'layouts/header'%>

<h1>Ordenes</h1>

<div class="card">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Fecha Orden</th>
        <th></th>
        <th colspan="2">Opciones</th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.created_at %></td>
          <td><%= link_to 'Ver', order %></td>
          <td><%= link_to 'Editar', edit_order_path(order) %></td>
          <td><%= link_to 'Eliminar', order, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Nueva Orden', new_order_path %>
