<h1>Ordenes</h1>

<div class="card">
  <table class="table table-striped" id="click">
    <thead>
      <tr>
        <th>Id</th>
        <th>Proveedor</th>
        <th>Fecha Orden</th>
        <th>Estado</th>
        <th colspan="2">Opciones</th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr data-href=<%= order_path(order.id)%>>
          <td><%= order.id%></td>
          <td><%= order.provider.name%></td>
          <td><%= order.created_at.strftime("%d/%m/%y") %></td>
          <td><%= order.status.status%></td>
          <td><%= link_to 'Editar', edit_order_path(order) %></td>
          <td><%= link_to 'Eliminar', order, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Nueva Orden', new_order_path %>
