<p id="notice"><%= notice %></p>

<div class="card">

    <div class="d-flex justify-content-center">
      <div class="card">
        <h5>Orden De Compra</h5>
        <div class="text-center">
          <p style="margin:0px;">n° <%= @order.id %></p>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <p>fecha: <%= @order.created_at %></p>
    </div>


  <div class="container">
    <div class="row">
      <div class="col">
        <ins>[Datos Proveedor]</ins>
      </div>
    </div>
    <div class="row">
      <div class="col">
        Razon Social: <em><%= @order.provider.name%></em>
      </div>
      <div class="col">
        Rut: <em><%= @order.provider.rut%>- <%= @order.provider.rut_dv%></em>
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">
        Direccion: <em><%= @order.provider.address.calle%> N°<%= @order.provider.address.numero%></em>
      </div>
      <div class="col">
        Comuna: <em><%= @order.provider.address.comuna%></em>
      </div>
      <div class="col">
        Region: <em><%= @order.provider.address.region%></em>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <ins>[Datos Solicitud]</ins>
      </div>
    </div>
    <div class="row">
      <div class="col">
        Solicitado por: <em><%= @order.user.name%> <%= @order.user.last_name%></em>
      </div>
      <div class="col">
        Sucursal: <em><%= @order.store.name %></em>
      </div>
      <div class="col"></div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <ins>[Datos Orden]</ins>
      </div>
    </div>
    <div class="row">
    <div class="col">
        Items Ordenados:
      </div>
      <div class="col">
        Estado: <%= @order.status.status%>
      </div>
      <div class="col">
        Pago: <%= @order.payment.method%>
      </div>
      <div class="col"></div>
    </div>
</div>

  <!--
  <div class="order_info"style="padding: 10px 15px">
    <p>Razon Social: <%= @order.provider.name%></p>
    <p>Rut: <%= @order.provider.rut%>- <%= @order.provider.rut_dv%></p>
    <p class="col-4">Direccion: <%= @order.provider.address.calle%> N°<%= @order.provider.address.numero%></p>
    <p class="col-4">Comuna: <%= @order.provider.address.comuna%></p>
    <p class="col-4">Region: <%= @order.provider.address.region%></p>
    <p>Solicitado por: <%= @order.user.name%> <%= @order.user.last_name%></p>
    <p>Sucursal: <%= @order.store.name %> </p>
    <p>Estado: <%= @order.status.status%></p>
  </div>
  -->
 
  <table class="table">
  <thead>
    <tr>
      <th>
        Descripcion 
      </th>
      <th>
        Unidades 
      </th>
      <th>
        Valor unitario 
      </th>
      <th>
        Valor total Producto
      </th>
    </tr>
  </thead>
  <tbody>
    <% @total = 0%>
    <% @order.details.each do |dt|%>
    <tr>
      <td><%= dt.item.nombre %> </td>
      <td><%= dt.count %> </td>
      <td>$<%= dt.item.precio %> </td>
      <td>$<%= dt.item.precio*dt.count %> </td>
      <% @total = @total + dt.item.precio*dt.count %>
    </tr>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <th>Total</th>
      <td>$<%= @total%> </td>
    </tr>
  </tbody>
</table>
</div>


<%= link_to 'exportar a PDF', order_path(format: :pdf), target: :_blank %>

<% if is_admin?%>
<%= link_to 'Edit', edit_order_path(@order) %> 
<% end %>
<%= link_to 'Back', orders_path %>
