<%= form_with(model: inventary, local: true) do |form| %>
  <% if inventary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inventary.errors.count, "error") %> prohibited this inventary from being saved:</h2>

      <ul>
      <% inventary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :count %>
    <%= form.number_field :count %>
  </div>

  <div class="field">
    <%= form.label 'Dirreccion' %>
    <%= form.select :store_id, options_from_collection_for_select(@stores, "id", "name")%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
