<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @agreement.code %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @agreement.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @agreement.end_date %>
</p>

<%= link_to 'Edit', edit_agreement_path(@agreement) %> |
<%= link_to 'Back', agreements_path %>
