    <% user_role? %>
    <header>
      <nav >
          <ul class="nav justify-content-end">
            <div class="btn-group">
              <li><%= link_to 'Inicio' , root_path, class:"btn" %></li> 
              <li><%= link_to 'Proveedores' , providers_path, class:"btn" %></li> 
              <li><%= link_to 'Ordenes' , orders_path, class:"btn" %></li>
              <% if @admin %>
              <li><%= link_to 'Usuarios' , users_path, class:"btn" %></li>
              <% end %>
              <% unless user_signed_in? %>
                <li><%= link_to 'Login', new_user_session_path, class:"btn" %></li>
                <li><%= link_to 'Sign Up', new_user_registration_path, class:"btn"%></li>
              <% else%>
              <li><%= link_to 'Logout', destroy_user_session_path, method: :delete , redirect_to: 'root_path', class:"btn"%></li>
              <li><%= link_to 'Usuario', edit_user_registration_path, class:"btn"  %></li>
              <%end%>
            </div>

          </ul>
        </nav>
  </header>
    <% if notice %>
      <p class="alert alert-success" id="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger" id="alert"><%= alert %></p>
    <% end %>