<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
      <%= form.label :name %><br>
    <%= form.text_field :name, class: 'form-control' %><br>
        <%= form.label :last_name %><br>
    <%= form.text_field :last_name, class: 'form-control' %><br>
    <%= form.label 'RUT' %> <br>
    <div class="input-group">
      <%= form.text_field :rutito, class: 'form-control',style: 'width:70%' %>
      <span class="input-group-addon">-</span>
      <%= form.text_field :rutito_dv, style: 'width:20%;', class: 'form-control' %>
    </div>
    <%= form.label :email %><br />
    <%= form.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    <%= form.label 'rol' %><br>
    <%= form.select(:role_id, options_from_collection_for_select(@roles, "id", "role_name" ) , class: 'form-control') %><br>
    <%= form.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= form.password_field :password, autocomplete: "new-password", class: 'form-control' %>
    <%= form.label :password_confirmation %><br />
    <%= form.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary form-control' %>
  </div>
<% end %>
