
<% if session[:admin]%>
<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @user.rutito %>-<%= @user.rutito_dv %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role.role_name %>
</p>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Eliminar', @user, method: :delete, data: { confirm: 'Estás seguro?' } %> |
<%end%>
<%= link_to 'Volver', users_path %>

